html, body {
  font-family     : 'Lato', sans-serif;
  background-color: black;
}

#logo {
  position: absolute;
  bottom  : 10px;
  width   : 100%;
  padding : 20px;
}

#content {
  position        : absolute;
  left            : 200px;
  padding         : 20px;
  border-radius   : 10px;
  border          : solid white 1px;
  color           : #D0D0D0;
  font-size       : 14px;
  margin          : 40px 110px;
  background-color: rgba(10,10,10,.8);
  text-align      : center;
}

.about-us td {
    vertical-align: top;
}

.about-us table{
    table-layout: fixed;
}

.about-us th, .about-us td {
    overflow: hidden;
    width: 42%;
}

h2 {
  color: #98D6F5;
}

.about-us .h-spacer  {
  width: 6%; 
}

.h-spacer  {
  width: 20px; 
}
.v-spacer  {
  height: 15px; 
}


.listContainer {
  display       : inline-block;
  vertical-align: top;
  margin        : 0 70px;
}

.listContainer ul {
  list-style-type: none;
  padding        : 0;
}

.listContainer h2, .listContainer li {
  padding   : 0px 0px 8px 0px;
}