html, body {
  font-family: 'Lato', sans-serif;
  background-color: black;
}

#logo {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 20px;
}

#content {
  /*top: 200px;*/
  position        : absolute;
  left            : 200px;
  padding         : 20px;
  border-radius   : 10px;
  border: solid white 1px;
  color: #BBB;
  font-size: 14px;
  margin: 40px 110px;
  background-color: rgba(10,10,10,.9);
}

td {
    vertical-align: top;
}

table{
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    width: 42%;
}

.spacer  {
  width: 6%; 
}

#content h2 {
  margin: 10px;
}

#pageTitle {
  position: absolute;
  left: 200px;
  padding         : 20px;
  border-radius   : 10px;
  border: solid white 1px;
  color: #BBB;
  margin: 40px 110px;
  background-color: rgba(10,10,10,.9);
}