{% extends "admin/admin-base.twig" %}

{% block head %}
  
  <style>
	  input[type=text], input[type=password] {
	  	display: inline;
	  }
	</style>

	<meta name="viewport" content="width=400">

{% endblock %}

{% block body %}
	
	<h1>Login</h1>
	
	{% if authError %}
		<div class="error" style="width: 10em;">
			Incorrect details
		</div>
	{% endif %}
	
	<form action="{{ path('post-admin') }}" method="post">
		<label>Username:</label><input style="width: 15em;" type="text" name="username"></input>
		<br />
		<label>Password:</label><input style="width: 15em;" type="password" name="password"></input>
		<input type="submit" value="Submit"></input>
	</form>
	<br />
	<div class="success" id="server204" style="width: 20em; display: none;">
		Password emailed to Spirit Design
	</div>
	<div class="error" id="server500" style="width: 20em; display: none;">
		An error occurred. Email was not sent.
	</div>
	<div class="error" id="server403" style="width: 20em; display: none;">
		This feature can only be used once every 24 hours
	</div>
	<a href="#" id="forgotten">Forgotten password?</a>

{% endblock %}

{% block extraJs %}
	<script>
	var finished = function(response) {
		switch (response.status) {
			case 204: 
				$("#server204").show();
			break;

			case 403: 
				$("#server403").show();
			break;
			
			default: 
				$("#server500").show();
			break;
		}
	}

	$("#forgotten").on("click", function(){
		$("#server204").hide();
		$("#server403").hide();
		$("#server500").hide();
		
		$.ajax({
			url: "{{ path('get-forgotten') }}",
			complete: finished,
		});
	});</script>
{% endblock %}
