<!DOCTYPE html>
<html>
	<head>
		<title>Spirit Design UK - Admin</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link href="//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="css/admin.css" />

		{% block head %}
		{% endblock %}

	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
	
	{% block extraJs %}
	{% endblock %}

</html>
