<!DOCTYPE html>
<html>
	<head>
		<title>Spirit Design UK - Admin</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=720">

		<!-- Style -->
		<link href="//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="css/admin.css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
    <script>
    	window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>');
    </script>

		{% block head %}
		{% endblock %}

	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
	
	{% block extraJs %}
	{% endblock %}

</html>
