{% extends "admin/edit-base.twig" %}

{% block saveButtonState %}none{% endblock %}
{% block formAction %}/password{% endblock %}
{% block pageTitle %}Change Your Password{% endblock %}

{% block editForm %}
		{% if changePasswordError %}
			<div class="error" style="width: 25em;">
				Old password was not correct. Please try again.
			</div>
		{% endif %}

		{% if changePasswordSuccess %}
			<div class="success">
				Password Updated
			</div>
		{% endif %}

		<label style="min-width:12em; text-align: right; display:inline-block">Old password:</label>
		<input style="display: inline-block;" type="password" name="oldPassword" required id="oldPassword"></input>
		<br />
		<label style="min-width:12em; text-align: right; display:inline-block">New password:</label>
		<input style="display: inline-block;" type="password" name="password" required id="mainpassword"></input>
		<br />
		<label style="min-width:12em; text-align: right; display:inline-block">Confirm password:</label>
		<input style="display: inline-block;" type="password" name="password" required id="password_confirm"></input>
		<input type="submit" value="Submit"></input>
{% endblock %}

{% block extraJs %}
	<script>

		var password1 = document.getElementById('mainpassword');
		var password2 = document.getElementById('password_confirm');

		var checkPasswordValidity = function() {
      password1.setCustomValidity('');
      password2.setCustomValidity('');

			if (password1.value.length < 6) {
				password1.setCustomValidity('Password must be 6 characters or more.');
			} else if (password1.value != password2.value) {
        password2.setCustomValidity('Passwords must match.');
	    }        
		};

		password1.addEventListener('change', checkPasswordValidity, false);
		password2.addEventListener('change', checkPasswordValidity, false);
	</script>
{% endblock %}
