{% extends "admin/admin-base.twig" %}

{% block head %}
		<!-- Script -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
    <script>
    	window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>');
    </script>

		<!-- AreYouSure? -->
		<script src="/js/vendor/areyousure/jquery.are-you-sure.js"></script>
		<script src="/js/vendor/areyousure/ays-beforeunload-shim.js"></script>

    <style>
    
		</style>

{% endblock %}

{% block body %}
		<div id="top-menu">
			<a href="/" target="_blank">View Website</a>
			
			<form action="edit-about-us" method="post">
				<input type="submit" value="About Us">
			</form>

			<form action="edit-what-we-do" method="post">
				<input type="submit" value="What we do">
			</form>

			<form action="edit-contact" method="post">
				<input type="submit" value="Contact">
			</form>

			<form action="edit-portfolio" method="post">
				<input type="submit" value="Portfolio">
			</form>
			<form action="password" method="post">
				<input type="submit" value="Password">
			</form>
		</div>

		
		
		<form method="post" id="edit-strings-form" action="{% block formAction %}{% endblock %}">
			<fieldset>
		    <legend>{% block pageTitle %}{% endblock %}</legend>

				<button type="submit" onclick="return checkIfAnyValueChanged();" style="display:{% block saveButtonState %}inline{% endblock %};">Save Changes</button>

				{% if saveSuccess %}
					<div class="success" style="display:inline;">
						Changes saved. <a href="/" target="_blank">Want to check them now?</a>
					</div>
				{% endif %}
				<br />
				{% block editForm %}
				{% endblock %}
			</fieldset>
		</form>

{% endblock %}

{% block extraJs %}
	<script>
		$(function() {
	    $('#edit-strings-form').areYouSure();
			$("#edit-strings-form").submit(function() {
			    return confirm("!!! WARNING !!!\n\nChanges will become visible on the website immediately.\n\nAre you sure you wish to save?")
			});
	  });

		var anyInputChanged = false;
		var checkIfAnyValueChanged = function(){ 
			if (anyInputChanged == false) {
				alert("No changes to save");
			}
			return anyInputChanged; 
		};
		$('#edit-strings-form *').change(function(){ anyInputChanged = true; });
	</script>
{% endblock %}
