{% extends "admin/edit-base.twig" %}

{% block formAction %}/edit-portfolio{% endblock %}
{% block pageTitle %}Portfolio{% endblock %}

{% block editForm %}
	{% for i in 1..7 %}
		<div class="label">Gallery {{ i }}:</div>
		<input type="text" size="50" maxlength="50" name="galleries[{{i}}][displayName]" value='{{ strings["galleries"][i]["displayName"] }}'></input>
		<div class="clearfix"></div>
	{% endfor %}
{% endblock %}
