{% extends "admin/edit-base.twig" %}

{% block pageTitle %}
	What we do
{% endblock %}

{% block editForm %}
	<form id="edit-strings-form" method="post" action="/edit-what-we-do">
			<textarea type="text" name="what-we-do[text]" cols="80" rows="8">{{ strings["what-we-do"]["text"] }}</textarea>
	</form>
{% endblock %}
