{% extends "admin/edit-base.twig" %}

{% block pageTitle %}
	About us
{% endblock %}

{% block editForm %}
	<form id="edit-strings-form" method="post" action="/edit-about-us">
		{% for i in 0..5 %}
			<textarea type="text" name="about-us[{{i}}][heading]" cols="70" rows="1">{{ strings["about-us"][i]["heading"] }}</textarea>
			<textarea type="text" name="about-us[{{i}}][text]"    cols="80" rows="8">{{ strings["about-us"][i]["text"] }}</textarea>
			<br /><br />
		{% endfor %}
	</form>
{% endblock %}
