{% extends "admin/edit-base.twig" %}

{% block saveButtonState %}none{% endblock %}
{% block editForm %}

	<div class="warning">
		Changes made in these admin pages will be visible on the Spirit Website immediately.<br />
		Check the website after updating to ensure it looks correct - layouts may be affected if dramatic changes are made to the length of any texts.
	</div>

{% endblock %}
