{% extends "base.twig" %}

{% block body %}
	<div id="content">
	<table id="about-us">
		<tr>
			<td>
				<h2>Dynamic, imaginative and innovative design</h2>
				<p>We work in all sectors of the events market and therefore know and use all the latest trends and design styles. Numerous in-house theatre trained designers greatly widen the idea base.</p>
			</td>
			<td class="h-spacer"></td>
			<td>
				<h2>Excellence at any budget</h2>
				<p>We are experienced in working to any level of the budget and always actively source high level services while respecting our overall client spend.</p>	
			</td>
		</tr>
		<tr>
			<td>
				<h2>Full office support and infrastructure</h2>
				<p>All our designers project manage their own designs. Competent office staff provide the single point of contact throughout the project.</p>
			</td>
			<td class="h-spacer"></td>
			<td>
				<h2>Brand awareness</h2>
				<p>We are very conscious of the importance of our clients' brand and the need to enhance yet adhere to it.</p>
			</td>
		</tr>
		<tr>
			<td>
				<h2>Drive and professionalism</h2>
				<p>All Spirit staff have years of professional training, extensive and varied experience in live events, and are committed to delivering our clients' vision. We understand the value of co-operation with other event teams to ensure smooth integration of different disciplines during the design stage and on site.</p>
			</td>
			<td class="h-spacer"></td>
			<td>
				<h2>Most advanced equipment at the best possible cost</h2>
				<p>We don't need to push our own stock equipment onto the project as we have established a trusted global network of equipment and manpower suppliers. Using suppliers local to the event significantly reduces logistical costs and is better for the environment.</p>			
			</td>
		</tr>
	</table>
	</div>
{% endblock %}