<!DOCTYPE html>
<html>

	<head>
		<title>Spirit Design UK</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<link href="//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="img/favicon.ico" />
		
		<!-- Script -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    	window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')
    </script>
    
    <!-- Vegas background plugin -->
    <link rel="stylesheet" href="/js/vendor/vegas/vegas.min.css">
		<script src="/js/vendor/vegas/vegas.min.js"></script>

    {% block head %}
		{% endblock %}

		<style>
		</style>

	</head>

	<body>

		<div id="cssmenu">
			<ul id="menu">
				<li ><a href="#"><span>About us</span></a>
				<li ><a href="#"><span>What we do</span></a>
				
				<li class="has-sub"><a href="#"><span>Portfolio</span></a>
				<ul>
					<li><a href="#"><span>Corporate Events</span></a></li>
					<li><a href="#"><span>Live Events</span></a></li>
					<li><a href="#"><span>Architectural</span></a></li>
					<li><a href="#"><span>Theatre/Television</span></a></li>
					<li><a href="#"><span>Fashion</span></a></li>
					<li><a href="#"><span>Exhibitions</span></a></li>
					<li><a href="#"><span>Concert/Touring</span></a></li>
				</ul>

				<li><a href="#"><span>Contact</span></a>
			</ul>
		</div>	

		<div id="content">
			<h1>SPIRIT DESIGN DELIVERS:</h1>
			<h2>Dynamic, imaginative and innovative design</h2>
			We work in all sectors of the events market and therefore know and use all the latest trends and design styles. Numerous in-house theatre trained designers greatly widen the idea base.
			<h2>Most advanced equipment at the best possible cost</h2>
			We don't need to push our own stock equipment onto the project as we have established a trusted global network of equipment and manpower suppliers. Using suppliers local to the event significantly reduces logistical costs and is better for the environment.
			<h2>Full office support and infrastructure</h2>
			All our designers project manage their own designs. Competent office staff provide the single point of contact throughout the project.
			<h2>Brand awareness</h2>
			We are very conscious of the importance of our clients' brand and the need to enhance yet adhere to it.
			<h2>Drive and professionalism</h2>
			All Spirit staff have years of professional training, extensive and varied experience in live events, and are committed to delivering our clients' vision. We understand the value of co-operation with other event teams to ensure smooth integration of different disciplines during the design stage and on site.
			<h2>Excellence at any budget</h2>
			We are experienced in working to any level of the budget and always actively source high level services while respecting our overall client spend.
		</div>

		{% block body %}
		{% endblock %}
	</body>

	<script src="/js/main.js"></script>

</html>