<!DOCTYPE html>
<html>

	<head>
		<title>Spirit Design UK</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
		<link href="//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="img/favicon.ico" />
		
		<!-- Script -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    	window.jQuery || document.write('<script src="/js/jquery-1.11.0.min.js"><\/script>')
    </script>
    
    <!-- Vegas background plugin -->
    <link rel="stylesheet" href="/js/vendor/vegas/vegas.min.css">
		<script src="/js/vendor/vegas/vegas.min.js"></script>

    {% block head %}
		{% endblock %}

		<style>
			body {
			    background-color: black;
			}
		</style>

	</head>

	<body>

		<div id="cssmenu">
			<ul id="menu">
				<li ><a href="#"><span>About us</span></a>
				<li ><a href="#"><span>What we do</span></a>
				
				<li class="has-sub"><a href="#"><span>Portfolio</span></a>
				<ul>
					<li><a href="#"><span>Corporate Events</span></a></li>
					<li><a href="#"><span>Live Events</span></a></li>
					<li><a href="#"><span>Architectural</span></a></li>
					<li><a href="#"><span>Theatre/Television</span></a></li>
					<li><a href="#"><span>Fashion</span></a></li>
					<li><a href="#"><span>Exhibitions</span></a></li>
					<li><a href="#"><span>Concert/Touring</span></a></li>
				</ul>

				<li><a href="#"><span>Contact</span></a>
			</ul>
		</div>	

		{% block body %}
		{% endblock %}
	</body>

	<script>
		$('body').vegas({
			color: "black",
			timer: false,
			delay: 5000,
			transitionDuration: 10000,
			transition: "fade2",
			overlay: "/js/vendor/vegas/overlays/02.png",
	    slides: [
	        { src: '/img/bg/1.jpg' },
	        { src: '/img/bg/2.jpg' },
	        { src: '/img/bg/3.jpg' },
	        { src: '/img/bg/4.jpg' }
	    ]
		});

		var activateMenu = function() { 
			$('#cssmenu li.has-sub>a').on('click', function(){
				$(this).removeAttr('href');
				var element = $(this).parent('li');
				if (element.hasClass('open')) {
					element.removeClass('open');
					element.find('li').removeClass('open');
					element.find('ul').slideUp();
				}
				else {
					element.addClass('open');
					element.children('ul').slideDown();
					element.siblings('li').children('ul').slideUp();
					element.siblings('li').removeClass('open');
					element.siblings('li').find('li').removeClass('open');
					element.siblings('li').find('ul').slideUp();
				}
			});
		}

		if (document.readyState !== "complete") {
			$(document).ready(activateMenu);
		} else {
			activateMenu();
		}
	</script>

</html>