<!DOCTYPE html>
<html>

	<head>
		<title>Spirit Design UK</title>
		
		<!-- Metadata -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- Style -->
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link href="//fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<style type="text/css">

			html, body {
			  height: 100%;
			  width: 100%;
				font-family: 'Lato';
			}		

			body {
			  background: url("img/bg2-sm.jpg") no-repeat center center fixed;
			  background-size: cover;
			  margin: 0;
			}

			#container {
				position: fixed;
	  		top: 70%;
			  height: 30%;		  
		    width: 100%;
			  background-color: rgba(0,0,0,0.4);
			  left: 0;
			}

			#msg {
			  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
			  letter-spacing: 0.15em;
			  line-height: 1.5em;
		   	position: relative;
		   	padding-left: 1em;
			  top: 50%;
			  transform: translateY(-50%);
			  text-transform: uppercase;
				font-weight: bold;
				color: #fff;
				font-size: 1.8em;
				display: inline-block;
				padding-right: 0;
				margin-right: -200px;
			}

			#logo {
			  float: right;
		   	position: relative;
			  top: 50%;
			  transform: translateY(-50%);
			  padding-right:1em;
			  max-width: 50%;
			  max-height: 50%;
			}

			#footer {
				position: fixed;
				bottom: 0;

				font-size: 1em;
				left: 0;
				width:100%;
				text-align: center;
			}

			#credit {
				padding-bottom: 0.2em;
				color: rgba(255,255,255,0.3);
			}

			@media screen and (max-width: 750px) {
		    #msg {
		        font-size: 1.6em; 
		    }
		    img {
			    max-width: 20%;
			    max-height: 20%;
				}
			}

			@media screen and (max-width: 550px) {
		    #msg {
		        font-size: 1.3em; 
		    }
		    img {
			    max-width: 10%;
			    max-height: 10%;
				}
			}
			@media screen and (max-width: 320px) {
		    #msg {
		        font-size: 1.0em; 
		    }
		    img {
			    max-width: 10%;
			    max-height: 10%;
				}
			}

			#contact {
				padding-bottom: 0.3em;
				color: rgba(255,255,255,0.5);
			}
		</style>
	</head>

	<body>
		<div id="container">
			<div id="msg">New  website<br/>coming  soon</div>
			<img src="img/logo.png" id="logo" />
			<div id="footer">
				<div id="contact">Telephone: +44(0)20 8995 5581&nbsp;&nbsp;&nbsp;&nbsp;E-mail: spirit@spiritdesignuk.com</div>
				<div id="credit">Sam Smith - Eventim Apollo 2014 Photo by Joe Okpako</div>
			</div>
		</div>
	</body>

</html>