<!DOCTYPE html>
<html>

	<head>
		<title>Spirit Design UK</title>
	
		<link rel="shortcut icon" href="img/favicon.ico" />
		<link href="//fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<style type="text/css">

			html, body {
			  height: 100%;
			  width: 100%;
				font-family: 'Lato';
			}		

			body {
			  background-size: cover;
			  margin: 0;
			}
		
			#logo {
			  padding: 1em;
			  max-width: 25%;
			  max-height: 25%;
			}
		</style>
	</head>

	<body>
		<a href="/"><img src="img/logo.png" id="logo" /></a>
		<div style="padding-left:1em;">
			<h1>{{httpStatus}}</h1>
			{{sub|raw}}
		</div>	
	</body>

</html>