<div id="what-we-do" style="display:none;">
	<div style="margin: auto">
		<div class="inline listContainer">
			<h2>We Cover</h2>
			<ul>
				<li>Concert Touring/Live Music</li>
				<li>Exhibition/Corporate</li>
				<li>Fashion</li>
				<li>Architectural</li>
				<li>Television</li>
				<li>Theatre/Live Events</li>
			</ul>
		</div>
		<div class="inline listContainer">
			<h2>We Guarantee</h2>
			<ul>
				<li>Creative excellence and unique design solutions.</li>
				<li>Comprehensive technical expertise in all production areas.</li>
				<li>The latest visualisation software.</li>
				<li>Round the clock technical support.</li>
			</ul>
		</div>
	</div>

	<p style="font-size:16px;">{{ strings["what-we-do"]["text"] }}</p>
	
	<h2>Recent Clients</h2>
	<div class="items">
		{% for string in strings["what-we-do"]["recent-clients"] %}
			<div class="item">{{ string }}</div>
		{% endfor %}
	</div>
</div>
