{% extends "base.twig" %}

{% block body %}
	<div id="content">
				<div class="listContainer" style="margin-left:170px">
					<h2>We Cover</h2>
					<ul>
						<li>Concert Touring/Live Music</li>
						<li>Exhibition/Corporate</li>
						<li>Fashion</li>
						<li>Architectural</li>
						<li>Television</li>
						<li>Theatre/Live Events</li>
					</ul>
				</div>
				<div class="listContainer">
					<h2>We Guarantee</h2>
					<ul>
						<li>Creative excellence and unique design solutions.</li>
						<li>Comprehensive technical expertise in all production areas.</li>
						<li>The latest visualisation software.</li>
						<li>Round the clock technical support.</li>
					</ul>
				</div>
	<p style="font-size:16px;">Spirit Design offers a broad spectrum of services from the simplest provision of static lighting to the power distribution, lighting design and rigging installation on events worldwide. We strive to always provide total flexibility, clever solutions and real value for money.</p>
					<h2>Our Clients</h2>
				<div class="listContainer">
					<ul>
						<li>Avon</li>
						<li>Barclays Bank</li>
						<li>Biba</li>
						<li>BUPA</li>
						<li>BMW</li>
						<li>Cadbury</li>
						<li>J.P. Morgan</li>
						</ul>
						</div>
						<div class="listContainer">
					<ul>
						<li>ITV</li>
						<li>Lexus</li>
						<li>London Fashion Week</li>
						<li>Microsoft</li>
						<li>Mini</li>
						<li>O2</li>
						<li>Parcel Force</li>
						</ul>
						</div>
						<div class="listContainer">
					<ul>
						<li>Samsung</li>
						<li>Sony</li>
						<li>Vauxhall</li>
						<li>Vodafone</li>
						<li>Warner Brothers</li>
						<li>Wella</li>
						<li>WPP</li>
					</ul>
				</div>

</div>
{% endblock %}