<div id="what-we-do" style="display:none;">
	<div style="margin: auto">
		<div class="inline listContainer">
			<h2>{{ strings["what-we-do"][0]["heading"] }}</h2>
			<ul>
				<li>Concert Touring/Live Music</li>
				<li>Exhibition/Corporate</li>
				<li>Fashion</li>
				<li>Architectural</li>
				<li>Television</li>
				<li>Theatre/Live Events</li>
			</ul>
		</div>
		<div class="inline listContainer">
			<h2>We Guarantee</h2>
			<ul>
				<li>Creative excellence and unique design solutions.</li>
				<li>Comprehensive technical expertise in all production areas.</li>
				<li>The latest visualisation software.</li>
				<li>Round the clock technical support.</li>
			</ul>
		</div>
	</div>

	<p style="font-size:16px;">Spirit Design offers a broad spectrum of services from the simplest provision of static lighting to the power distribution, lighting design and rigging installation on events worldwide. We strive to always provide total flexibility, imaginative solutions and real value for money.</p>
	
	<h2>Recent Clients</h2>
	<div class="inline listContainer">
		<ul>
			<li>HSBC</li>
			<li>GOOGLE</li>
			<li>WPP Plc</li>
			<li>ITV</li>
			<li>HEWLETT PACKARD</li>
			<li>HYUNDAI</li>
			<li>GAZPROM</li>
		</ul>
	</div>
	<div class="inline listContainer">
		<ul>
			<li>VM WARE</li>
			<li>LEGO</li>
			<li>DISCLOSURE</li>
			<li>SANOFI</li>
			<li>GENERAL MOTORS</li>
			<li>LONDON CONTEMPORARY VOICES</li>
			<li>WELLA</li>
		</ul>
	</div>
	<div class="inline listContainer">
		<ul>
			<li>SAMSUNG</li>
			<li>MERCEDES</li>
			<li>SAM SMITH</li>
			<li>IBM</li>
			<li>DE VERE HOTELS</li>
			<li>JCB</li>
			<li>NULL PARADOX</li>
		</ul>
	</div>
	<div class="inline listContainer">
		<ul>
			<li>UNDER ARMOUR</li>
			<li>LUNDBECK</li>
			<li>BIBA</li>
			<li>DEUTCHE BANK</li>
			<li>TWITTER</li>
			<li>UEFA</li>
			<li>SASSOON</li>
		</ul>
	</div>
</div>