<div id="what-we-do" style="display:none;">
	<div style="margin: auto">
		<div class="inline listContainer">
			<h2>We Cover</h2>
			<ul>
				<li>Concert Touring/Live Music</li>
				<li>Exhibition/Corporate</li>
				<li>Fashion</li>
				<li>Architectural</li>
				<li>Television</li>
				<li>Theatre/Live Events</li>
			</ul>
		</div>
		<div class="inline listContainer">
			<h2>We Guarantee</h2>
			<ul>
				<li>Creative excellence and unique design solutions.</li>
				<li>Comprehensive technical expertise in all production areas.</li>
				<li>The latest visualisation software.</li>
				<li>Round the clock technical support.</li>
			</ul>
		</div>
	</div>

	<p style="font-size:16px;">{{ strings["what-we-do"]["text"] }}</p>
	
	<h2>Recent Clients</h2>
	<div class="items">
		<div class="item">HSBC</div>
		<div class="item">GOOGLE</div>
		<div class="item">WPP Plc</div>
		<div class="item">ITV</div>
		<div class="item">HEWLETT PACKARD</div>
		<div class="item">HYUNDAI</div>
		<div class="item">GAZPROM</div>
		<div class="item">VM WARE</div>
		<div class="item">LEGO</div>
		<div class="item">DISCLOSURE</div>
		<div class="item">SANOFI</div>
		<div class="item">GENERAL MOTORS</div>
		<div class="item">LONDON CONTEMPORARY VOICES</div>
		<div class="item">WELLA</div>
		<div class="item">SAMSUNG</div>
		<div class="item">MERCEDES</div>
		<div class="item">SAM SMITH</div>
		<div class="item">IBM</div>
		<div class="item">DE VERE HOTELS</div>
		<div class="item">JCB</div>
		<div class="item">NULL PARADOX</div>
		<div class="item">UNDER ARMOUR</div>
		<div class="item">LUNDBECK</div>
		<div class="item">BIBA</div>
		<div class="item">DEUTCHE BANK</div>
		<div class="item">TWITTER</div>
		<div class="item">UEFA</div>
		<div class="item">SASSOON</div>
	</div>
</div>